<div class="container">
    <div class="card border-info mb-3">
        <div class="card-header text-primary">
            <h2 class="text-center">
                {{titulo}}
            </h2>
        </div>
        <div class="card-body text-primary table-responsive">
            <form *ngIf="categoria!=undefined">
                <div class="mb-3">
                    <label for="nombre">
                        Nombre de la Categor&iacute;a
              
                    </label>
                    <input type="text" 
                    class="form-control" 
                    name="nombre" 
                    required                    
                    [(ngModel)]="categoriaUpdate.nombreCategoria">
                </div>

                <div class="mb-3">
                    <label for="descripcion">Descripcion de la Categoria</label>
                    <input type="text" 
                    class="form-control" 
                    name="descripcion" 
                    required                    
                    [value]="categoriaUpdate.descripcionCategoria"
                    [(ngModel)]="categoriaUpdate.descripcionCategoria">
                </div>

                <div class="mb-3">
                    <button class="btn btn-outline-primary form-control"
                    (click)="actualizar(categoriaUpdate)">
                        Actualizar categoría
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
