<div class="container mb-3">
    <div class="class border-success mb-3">
        <div class="card-header text-danger">
            <h2 class="text-center">
                {{titulo}}
            </h2>
        </div>
        <div class="card-body text-primary table-responsive">
            <div class="my-2 text-left">
                <button class="btn btn-outline-primary" routerLink="/categoria">
                    <i class="fa-solid fa-plus"></i> Registrar categoría
                </button>
                <table class="table table-stripped mt-3">
                    <thead>
                        <tr>
                            <th>Clave</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let categoria of listadoDeCategorias">
                            <td>{{categoria.idCategoria}}</td>
                            <td>{{categoria.nombreCategoria}}</td>
                            <td>{{categoria.descripcionCategoria}}</td>
                            <td>
                                <button type="button" name="actualizar" [routerLink]="['/editarCategoria',categoria.idCategoria]" class="btn btn-outline-success btn-sm">
                                    <i class="fa-solid fa-pen"></i> Actualizar {{categoria.idCategoria}}
                                </button>
                            </td>
                            <td>
                                <button type="button" name="eliminar" class="btn btn-outline-danger btn-sm" (click)="eliminar(categoria)">
                                    <i class="fa-solid fa-trash"></i> Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>